/* CSS Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-size: 10px;
    font-family: Montserrat;
    overflow-x: hidden;
}

.container{
    max-width: 1640px;
    margin: 0 auto;
}

.main{
    background-color: #f7f7ff;
}

/* HEADER AREA */
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #f7f7ff;

    min-height: 95vh;
}

/*---------- Navigation ----------*/

.nav{
    padding: 1rem 0;
}

.nav-img{
    height: 11.5rem;
}

/*---------- Hero ----------*/

.hero-area{
    flex-grow: 1;

    background:  url(images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-size: 42.5%;
    background-position: center;
}

.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 8rem 0;
}

.cta-text{
    max-width: 53.6rem;
}

.cta-text_heading{
    font-size: 8rem;
    font-weight: 800;
    margin-bottom: 2.5rem;

    color: #333131;
}

.cta-text_tagline{
    font-size: 2.4rem;
    font-weight: 400;

    color: #333131;
}

.cta-form{
    background-color: #ffffff;

    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);

    max-width: 53.5rem;

    padding: 3.7rem 5rem;

    border-radius: 2.6rem;
    -webkit-border-radius: 2.6rem;
    -moz-border-radius: 2.6rem;
    -ms-border-radius: 2.6rem;
    -o-border-radius: 2.6rem;
}

.cta-form_heading{
    font-size: 4rem;
    font-weight: 700;
    
    margin-bottom: 1rem;
}

.cta-form_tagline{
    font-size: 2.4rem;
}

.cta-form_form-group{
    width: 100%;
    margin: 1.5rem 0;
}

.cta-form_form-input[type="text"],
.cta-form_form-input[type="email"],
.cta-form_form-input[type="number"]{
    background-color: #f4f4f5;
    
    width: 100%;
    padding: 1.7rem 2.1rem;
    
    font-size: 1.8rem;
    color: #9b9b9b;
    letter-spacing: 1px;
    
    outline: none;
    border: none;
    
    border-radius: 1.1rem ;
    -webkit-border-radius: 1.1rem ;
    -moz-border-radius: 1.1rem ;
    -ms-border-radius: 1.1rem ;
    -o-border-radius: 1.1rem ;
}

.agree{
    height: 2.5rem;
    width: 2.5rem;
    border-color: #333131;

    vertical-align: middle; 
    position: relative; 
    bottom: 3px;

    margin-right: 5px;
}

.agree-label{
    display: block;
}

.checkbox-text{
    font-size: 1.8rem;
    color: #333131;
}

.form-submit{
    display: block;
    width: 100%;
    
    border-radius: 1.1rem;
    border: none;
    padding: 1rem 0;
   
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3.2rem;
    
    background-color: #57EEAB;
    
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    -o-border-radius: 1.1rem;
}

.cta-form_check-status{
    font-size: 1.5rem;
    color: #333131;
    text-align: center;
}

.cta-form_check-status .link{
    text-decoration: none;

    font-size: 1.6rem;
    color: #FF8480;
}

/*---------- FOOTER AREA ----------*/

.footer{
    background-color: #FFFD8C;
    padding: 4rem 0 ;
}

.footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-form_heading{
    font-size: 1.8rem;

    margin-bottom: 1rem;
}
.footer-form_tagline{
    font-size: 1.6rem;

    margin-bottom: 1rem;
}

.footer-form_form{
    display: flex;
    flex-direction: row;
}

.footer-form_input[type="text"],
.footer-form_input[type="number"]{
    font-size: 1.6rem;

    margin-right: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f7f7ff;
    color: #707070;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.footer-form_input[type="number"]{
    width: 12.2rem;
}
.footer-form_input[type="text"]{
    width: 26rem;
}

.footer-form_submit{
    flex-grow: 1;
    
    background-color: #FF8480;
    color:#f7f7ff;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    
    padding: 0.5rem 2.6rem;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.social-media_links{
    height: 3rem;
    width: 3rem;
}
.footer-social a:not(:last-of-type){
    margin-right: 4.5rem;
}

/*
-----------------------------
------- MEDIA QUERIES -------
-----------------------------
*/

@media screen and (max-width: 1640px){

    .container{
        margin: 0 8rem;
    }

}
@media screen and (max-width: 1228px){

    

}
@media screen and (max-width: 1228px){

    .hero{
        padding: 3rem 0 8rem 0;
    }
    
    .hero-area{
        background-size: 55%;
        background-position: 50% 35.5%;
    }

    .cta-text{
        margin-bottom: 31.7rem;
        max-width: 100%;
    }
    .cta-form{
        width: 100%;
        max-width: 100%;
        padding: 3rem 4rem;
    }

    .footer{
        padding: 2rem 0;
    }

    .footer .container{
        justify-content: center;
        flex-direction: column;
    }

    .footer-form{
        margin-bottom: 2rem;
    }
    
    .footer-social{
        display: flex;
    }

    .footer-social a:nth-child(3){
        order: -1;
    }
}

@media screen and (max-width: 767px){
    
    .container{
        margin: 0 3rem;
    }

    .container.hero{
        padding: 2rem 0 4.5rem 0 ; 
    }

    .hero-area{
        background-size: 70%;
        background-position: 50% 40%;
    }

    .cta-text{
        margin-bottom: 23.2rem;
        max-width: 100%;
    }
    .cta-text_heading{
        font-size: 6rem;
    }

    .cta-form{
        padding: 2.5rem;
    }

    .cta-form_tagline{
        font-size: 1.6rem;
    }

    .cta-form_form-input[type="text"],
    .cta-form_form-input[type="email"],
    .cta-form_form-input[type="number"]{
        font-size: 1.6rem;
        padding: 1rem;
    }
    .checkbox-text{
        font-size: 1.6rem;
    }
    .form-submit{
        font-size: 2.4rem;
    }
    .cta-form_check-status{
        font-size: 1.4rem;
    }
    
    .footer-form_form {
        flex-wrap: wrap;
    }
    .footer-form_input[type="number"]{
        width:  20%;
    }

    .footer-form_form .footer-form_input[type="text"]{
        width: auto;
        flex-grow: 1;
    }

    .footer-form_submit{
        margin: 1rem 0 0 0;
    }

}